@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*, 
*::before,
*::after {
    box-sizing: border-box;
} 

html, body {
    font-family: 'Ubuntu', sans-serif !important;
    margin: 0;
    padding: 0;
    text-size-adjust: 1;
    letter-spacing: .4px;
    overflow-y: hidden !important;
}

body {
    background-color: var(--background-primary) !important;
    color: var(--text-primary) !important;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.5 !important;
    transition: .5 ease-in-out !important;
}

/*dark mode*/
.light-theme {
	--background-primary: #EEEEEE;
	--background-secondary: #CCD4FF;
	--text-primary: #000000;
	--text-secondary: #626262;
}

.dark-theme {
	--background-primary: #111111;
	--background-secondary: #262e57;
	--text-primary: #ffffff;
	--text-secondary: #8f8f8f;
}

.mini-container {
    
    flex-direction: row;
    display: flex;
    justify-content: right;
    align-items: right;
    float: right;
}

button.theme {
    margin-top: 1.5rem;
    margin-right: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 4px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	transition: ease-out 0.5s;
	cursor: pointer;
    border: none;
	padding: 0;
	background: none;
}

button.theme:hover {
	background: var(--background-secondary) !important;
}

button.theme svg {
	stroke: var(--text-primary) !important;
	width: 24px;
	height: 24px;
	border-radius: 50%;
}
/*end dark mode*/

html::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    min-height: calc(100vh - 100px);
    overflow: hidden;
}

.container.main{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    max-width: 700px !important;
    background: whitesmoke !important;
}

.card.glass {
    backdrop-filter: blur(12px) !important;
    margin: auto 1rem;
}

.card-footer-item:not(:last-child) {
    border-left: none !important;
}

.card-header {
    box-shadow: 0 .15em .5em rgba(10, 10, 10, 0.05) !important;
}

.content {
    margin-left: .7rem;
    margin-right: .2rem;
}

.text-muted {
    /*paragraph*/
    font-weight: 400;
    font-style: italic;
    font-size: clamp(15px, 3vw, 21px);
    color: #535353;
    margin-top: .75rem;
}

.card-text {
    font-weight: 400;
    font-size: clamp(16px, 3vw, 20px);
}

h1 span.typer {
    color: #202020 !important;
}

.card-content h1 {
    margin-top: .5rem !important;
    margin-bottom: 1.65rem !important;
}

p.card-header-title {
    color: var(--text-secondary);
    margin-left: .75rem !important;
}

/*mouse hover*/
.nav-text {
    position: absolute;
    visibility: hidden;
    width: 0px;
    font-size: 12px;
    border-radius: 6px;
    transform: translate(75%, -130%);
    transition: all .175ms;
}

a.card-footer-item:hover span.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
    width: max-content;
    height: 24px;
    background-color: var(--text-primary); /*#f9f9f954*/
    color: var(--background-primary);
}
/* end mouse hover*/

/*card footer*/
a.card-footer-item {
    color:#202020;
}

a.card-footer-item:hover {
    color: var(--button);
}
/****/

footer {
    bottom: 0;
    grid-area: footer;
}

footer #copyright {
    color: #a5a5a5;
}

.card-footer-item {
    padding: 1.1em !important;
}

footer small span {
    margin: .5rem !important;
    letter-spacing: .6px;
    font-stretch: expanded;
}

footer span i {
    font-style: italic;
    letter-spacing: .4px;
}
